<!DOCTYPE html>
<html>
	<%= partial 'partial/beg', locals: {title: "Larry"}%>
	<style>
.home {
	margin-top:10vh;
	margin-bottom:10vh;
	padding-top:29vh;
	padding-bottom:29vh;
}
.yellow {
	background-color: #ffc107;
	border-color: #ffc107;
}
	</style>
	<body style="padding:10px">
		<div class="container-fluid" style="margin:0;padding:10px">
			<div class="row">
				<div class="col-sm-12">
					<span class="yellow btn-lg btn-block" style="text-align:center;color:black">Welcome to Larry</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<a class="btn btn-danger btn-lg btn-block home" style="color:black" href="/red">Red Alliance</a>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-primary btn-lg btn-block home" style="color:black" href="/blue">Blue Alliance</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="visible:none">
					<a class="btn btn-warning btn-lg btn-block " style="color:black" href="/ynot">Larry</a>
				</div>
			</div>
		</div>
	</body>
