<!DOCTYPE html>
<html>
    <%= partial 'partial/beg', locals: {title: "Larry"}%>
    <style>
.btn-danger, .btn-warning {
    background-color: #ffd500
}
.btn-primary {
    background-color: #f8f9fa
}
.home {
 margin-top:10vh;
 margin-bottom:10vh;
 padding-top:29vh;
 padding-bottom:29vh;
}
    </style>
    <body>
        <div class="container-fluid" style="margin:0;padding:0">
            <div class="row" style="padding-left:10px">
                <div class="col-sm-4">
                    <a class="btn btn-danger btn-lg btn-block home" style="color:black" href="/red">Red Alliance</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-lg btn-block home" style="color:black" href="/blue">Blue Alliance</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-warning btn-lg btn-block home" style="color:black" href="/ynot">Larry</a>
                </div>
            </div>
        </div>
    </body>
