<!DOCTYPE html>
<html>
<<<<<<< HEAD
	<%= partial 'partial/beg', locals: {title: "Larry"}%>
	<style>
.home {
	margin-top:10vh;
	margin-bottom:10vh;
	padding-top:29vh;
	padding-bottom:29vh;
}
.yellow {
	background-color: #ffc107;
	border-color: #ffc107;
}
	</style>
	<body style="padding:10px">
		<div class="container-fluid" style="margin:0;padding:10px">
			<div class="row">
				<div class="col-sm-12">
					<span class="yellow btn-lg btn-block" style="text-align:center;color:black">Welcome to Larry</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<a class="btn btn-danger btn-lg btn-block home" style="color:black" href="/red">Red Alliance</a>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-primary btn-lg btn-block home" style="color:black" href="/blue">Blue Alliance</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="visible:none">
					<a class="btn btn-warning btn-lg btn-block " style="color:black" href="/ynot">Larry</a>
				</div>
			</div>
		</div>
	</body>
=======
    <%= partial 'partial/beg', locals: {title: "Scouting"}%>
    <style>
.btn-warning, .btn-warn {
    background-color: #feae0a;
    border-color: #feae0a;
}
.ex {
    padding-top: 37vh;
    padding-bottom: 37vh;
}
    </style>
    <body>
        <div class="container-fluid" style="padding-top:2vh;padding-bottom:2vh">
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <a class="btn btn-danger btn-lg btn-block ex" role="button" href="/red">Red Alliance</a>
                </div> 
                <div class="col-sm-2" style="text-align:center">
                    <img src="/img/logo.png" style="margin-top:37vh" height="48px"></img>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-primary btn-lg btn-block ex" role="button" href="/blue">Blue Alliance</a>
                </div> 
            </div> 
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-warning btn-lg btn-block" role="button" href="/ynot">Scouting Program</a>
                </div> 
            </div>
        </div>
    </body>
>>>>>>> 89c8af67944bc19a9d78219a68cfef1d9cf8a6b2
