<!DOCTYPE html>
<html>
	<%= partial 'partial/beg', locals: {title: "Larry"}%>
    <style>
.btn-warning, .btn-warn {
    background-color: #feae0a;
    border-color: #feae0a;
}
.ex {
    padding-top: 37vh;
    padding-bottom: 37vh;
}
    </style>
    <body>
        <div class="container-fluid" style="padding-top:2vh;padding-bottom:2vh">
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <a class="btn btn-danger btn-lg btn-block ex" role="button" href="/red">Red Alliance</a>
                </div> 
                <div class="col-sm-2" style="text-align:center">
                    <img src="/img/logo.png" style="margin-top:37vh" height="48px"></img>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-primary btn-lg btn-block ex" role="button" href="/blue">Blue Alliance</a>
                </div> 
            </div> 
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-warning btn-lg btn-block" role="button" href="/ynot">Scouting Program</a>
                </div> 
            </div>
        </div>
    </body>
