<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="css/toastr.min.css"></link>
        <link rel="stylesheet" href="css/global.css"></link>
        <link rel="stylesheet" href="css/home.css"></link>
        <title>WBI Scouting System 2.0</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    </head> 
    <body>
        <div class="container-fluid" style="margin:0;padding:0">
            <div class="row" style="padding-left:10px">
                <div class="col-sm-3">
                    <a class="btn btn-danger btn-lg btn-block home" style="color:white" href="/red">Red Alliance</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary btn-lg btn-block home" style="color:white" href="/blue">Blue Alliance</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-dark btn-lg btn-block home" style="color:white" href="/scoutmaster">Scoutmaster</a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-light btn-lg btn-block home" style="color:black" href="/ynot">Larry</a>
                </div>
            </div>
        </div>
    </body>
