<!DOCTYPE html>
<html>
    <head>
        <script src="/faye/faye.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/fontawesome-free-5.0.6/on-server/css/fontawesome.css" rel="stylesheet">
        <link href="/fontawesome-free-5.0.6/on-server/css/fontawesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Larrage</a>
        </nav>
        <div class="row" id="im" width="100%">
            <div class="col-sm-12" style="padding:10px" width="90%">
                <input v-model="message" placeholder="Larrage" >
                <button type="button" onClick="idk()" class="btn btn-success"><img src="/img/1.svg"></img></button>
            </div>
        </div>
    </body>
</html>
<script>
var im = new Vue({
    el: '#im',
    data: {
        message: ""
    }
})
var client;
$(function() {
    client = new Faye.Client('/faye');
});
function idk() {
    var publication = client.publish('/result/ima/luke', {text: im.message });

    publication.then(function() {
        alert('Message received by server!');
    }, function(error) {
        alert('There was a problem: ' + error.message);
    });
}
</script>
