<!DOCTYPE html>
<html>
    <head>
        <%= partial 'partial/beg', locals: {title: "Chart Data"}%>
        <link rel="stylesheet" href="css/trending.css"></link>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/vue.js"></script>
    </head>
    <body>
    </body>
</html>

