<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/trending.css"></link>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
    </head>
    <body>
        <table id="mytable"><thead>
                <tr>
                    <th id="sl">S.L.</th>
                    <th id="nm">name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ronaldo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Messi</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ribery</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Bale</td>
                </tr>
            </tbody>
        </table>
    </body>
    <script src="js/trending.js"></script>
</html>
