<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="css/toastr.min.css"></link>
        <link rel="stylesheet" href="css/global.css"></link>
        <link rel="icon" href="img/favicon.jpg" type="image/x-icon"/>
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/toastr.min.js"></script>
        <script src="/faye/faye.js"></script>
        <script src="js/vue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="js/bootstrap.min.js"></script>
        <title>Scouting System</title>
    </head>
    <script>
    </script>
    <style>
.btn-light {
    background-color: #f2eef0;
    border: none
}
.blue {
    visibility: hidden;
}
    </style>
    <body onload="as()">
        <div class="container-fluid" id="hello">
            <br>
            <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-2" style="text-align:center">
                    <img src="/img/logo.png" width="64px"></img>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
            <br>
            <center><input class="n" placeholder="Password" v-model="user" type="password"></input>  <button onclick="a()">Go!</button></center>
            <br>
            <div class="row 12 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-primary btn-block btn-lg" href="/blue">Blue Alliance</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-danger btn-block btn-lg" href="/red">Red Alliance</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 15 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg 23" align="center" href="/adrian">Adrian</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg 22" href="/all">All Data</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 14 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" href="#" style="padding:5px" onclick="teamgo()"><input style="text-align:center" placeholder="Teamnumber" id="teamnumber"></input></a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" href="/compare">Compare</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 15 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg 23" href="/config">Config</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" href="/larrage">Instant Messager</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 13 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" align="center" href="/import">Import Data</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" href="/export">Export Data</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" align="center" href="/raw">Raw Data</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg" href="/scheduler">Scheduler</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <br>
            <br>
            <div class="row 10 13 14 16 99">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg 21" align="center" href="/scoutmaster">Scoutmaster</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-dark btn-block btn-lg 20" href="/trend">Trending Data</a>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </body>
    <script>
var app = new Vue({
    el: '#hello',
    data: {
        user: ''
    }
})
function teamgo() {
    location.replace("/teams/" + teamnumber.value);
    console.log(teamnumber.value)
}
function as() {
    $('.10').addClass('blue')
}
function a() {
    if (app.user == 'Admin') {
        $('.99').removeClass('blue')
    } else if (app.user == 'M3dia') {
        $('.16').removeClass('blue')
        $('.23').addClass('blue')
        $('.23').addClass('blue')
    } else if (app.user == 'D3v3lop') {
        $('.15').removeClass('blue')
        $('.22').addClass('blue')
        $('.12').addClass('blue')
    } else if (app.user == 'B3cca') {
        $('.14').removeClass('blue')
        $('.21').addClass('blue')
        $('.12').addClass('blue')
    } else if (app.user == 'SM') {
        $('.13').removeClass('blue')
        $('.12').addClass('blue')
        $('.20').addClass('blue')
    }
}
    </script>
</html>
