body {
	background-color: #8D8C90;
}
#thing, #thing2, #thing3 {
    height: 100vh
}
#buttons {
    background-color:#D2D50A;
    padding-top: 10vh;
}
#thing {
	border-right: 6px solid black;
}
#thing3 {
	border-left: 6px solid black;
}

