
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="css/toastr.min.css"></link>
	<link rel="stylesheet" href="css/global.css"></link>
	<link rel="icon" href="img/favicon.jpg" type="image/x-icon"/>
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon"/>
	<link rel="stylesheet" href="css/carousel.css"></link>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/toastr.min.js"></script>
	<script src="/faye/faye.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/toastr.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/counter.js"></script>
	<script src="js/button.js"></script>
	<script src="/faye/faye.js"></script>
	<script src="js/vue.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= title %></title>
</head>
